# People marked here will be automatically requested for a review
# when the code that they own is touched.
# https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @szul

# Library Owners
/libraries/botbuilder-adapters/ @szul
/libraries/botbuilder-adapter-twilio-whatsapp/ @imicknl
/libraries/botbuilder-dialog-prompts/ @szul
/libraries/botbuilder-spell-check-middleware/ @stephanbisser
/libraries/botbuilder-storage/ @szul
/libraries/botbuilder-middleware-engine-core/ @szul
/libraries/botbuilder-middleware-text-analytics/ @szul
/libraries/botbuilder-middleware-watson-nlu/ @szul
/libraries/botbuilder-text-recognizer-middleware/ @szul
