# People marked here will be automatically requested for a review
# when the code that they own is touched.
# https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @szul

# Library Owners
/libraries/botbuilder-adapter-console/ @szul
/libraries/botbuilder-adapter-alexa/ @imicknl
/libraries/botbuilder-adapter-twilio-whatsapp/ @imicknl
/libraries/botbuilder-adapter-twitter/ @szul
/libraries/botbuilder-core/ @imicknl
/libraries/botbuilder-dialog-prompts/ @szul
/libraries/botbuilder-middleware-activity-type/ @szul
/libraries/botbuilder-middleware-aws-comprehend/ @szul
/libraries/botbuilder-middleware-engine-core/ @szul
/libraries/botbuilder-middleware-google-language/ @szul
/libraries/botbuilder-middleware-spell-check/ @stephanbisser
/libraries/botbuilder-middleware-text-analytics/ @szul
/libraries/botbuilder-middleware-text-recognizer/ @szul
/libraries/botbuilder-middleware-watson-nlu/ @szul
/libraries/botbuilder-storage-azure-table/ @szul
/libraries/botbuilder-storage-mongodb/ @mdrichardson
/libraries/botbuilder-storage-mssql/ @szul
